.App {
  text-align: center;
}

/* START OF HIDE DETAILS BUTTON*/
div.displayDetailsShow {
  display: block;
}
div.displayDetailsHide {
  display: none;
}
/* END OF HIDE DETAILS BUTTON*/

@media (max-width: 425px) {
  #logoImg {
    width: 10vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  #userImg {
    width: 35vw;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
@media (min-width: 426px) {
  #logoImg {
    width: 5vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
@media (min-width: 768px) {
  #userImg {
    width: 15vw;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
@media (min-width: 1020px) {
  #logoImg {
    width: 5vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  #userImg {
    width: 10vw;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
@media (min-width: 1200px) {
  #logoImg {
    width: 3vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  #userImg {
    width: 8vw;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
  }
}
@media (min-width: 1440px) {
  #logoImg {
    width: 5vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
