.pop-up {
  color: rgb(235, 44, 44);
  text-align: center;
  border-radius: 6px;
  background-color: rgb(46, 45, 45);
  padding: 8px 0;
  font-weight: 600;
  font-size: 1.4rem;
}
@media (min-width: 320px) {
  #forgot-password-link {
    color: #ff4545;
    font-weight: lighter;
    text-decoration: none;
    width: 90%;
  }
  #login-form {
    margin: 0 auto;
    font: 2rem;
    margin-top: 10%;
    width: 70vw;
    color: #313638;
    letter-spacing: 0.15rem;
    background-color: #e8e9eb;
    font-family: "Oswald", sans-serif;
  }
  .login-inputs {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    box-shadow: none;
    letter-spacing: 0.1rem;
  }
  .login-inputs:focus {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    box-shadow: none;
    color: #313638;
    border-color: #bada55;
    border-bottom-width: medium;
  }
}

@media (min-width: 768px) {
  #login-form {
    width: 50vw;
    margin: 0 auto;
    font: 2rem;
    margin-top: 5%;
  }
}

@media (min-width: 1024px) {
  #login-form {
    width: 30vw;
    margin: 0 auto;
    font: 2rem;
    margin-top: 5%;
  }
}

@media (min-width: 1440px) {
  #login-form {
    width: 35vw;
    margin: 0 auto;
    font: 2rem;
    margin-top: 5%;
  }
}
