div.show-music-button {
  display: block;
}
div.hide-music-button {
  display: none;
}

.my-songs-buttons-container {
  margin-left: 2%;
}
.my-songs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  margin-top: 3%;
}

.gird-card-size:hover {
  box-shadow: 0px 1px 9px whitesmoke;
  opacity: 0.8 grey;
  transition: 0.2s;
  transform: translate(1px, -5px);
}
@media (min-width: 320px) {
  .gird-card-size {
    width: 90vw;
    font-family: "Roboto Condensed", sans-serif;
    background-color: ivory;
  }
  #my-songs-audio-player {
    width: 88vw;
  }
  #my-songs-artist-image {
    max-width: 50vw;
    margin-left: 4%;
  }
  .my-songs-buttons-container {
    margin-left: 5%;
  }
  .my-songs-container {
    margin-left: 5vw;
  }
}
@media (min-width: 375px) {
  .gird-card-size {
    width: 80vw;
  }
  #my-songs-audio-player {
    width: 78vw;
  }
  #my-songs-artist-image {
    max-width: 50vw;
    margin-left: 4.2%;
  }
  .my-songs-buttons-container {
    margin-left: 5%;
  }
  .my-songs-container {
    margin-left: 9vw;
  }
}
@media (min-width: 425px) {
  .gird-card-size {
    width: 70vw;
  }
  #my-songs-audio-player {
    width: 69vw;
  }
  #my-songs-artist-image {
    max-width: 49vw;
    margin-left: 4.5%;
  }
  .my-songs-buttons-container {
    margin-left: 5%;
  }
  .my-songs-container {
    margin-left: 10vw;
  }
}
@media (min-width: 768px) {
  .gird-card-size {
    width: 50vw;
    margin-left: 2%;
  }
  #my-songs-audio-player {
    width: 49vw;
  }
  #my-songs-artist-image {
    max-width: 33vw;
    margin-left: 11%;
  }
  .my-songs-buttons-container {
    margin-left: 4%;
  }
  .my-songs-container {
    margin-left: 0vw;
  }
}
@media (min-width: 1024px) {
  .gird-card-size {
    width: 35vw;
  }
  #my-songs-audio-player {
    width: 34vw;
  }
  #my-songs-artist-image {
    max-width: 22vw;
    margin-left: 11%;
  }
  .my-songs-buttons-container {
    margin-left: 5.2%;
  }
}

@media (min-width: 1200px) {
  .gird-card-size {
    width: 30vw;
  }
  #my-songs-audio-player {
    width: 29vw;
  }
  #my-songs-artist-image {
    max-width: 13vw;
    margin-left: 10%;
  }
  .my-songs-buttons-container {
    margin-left: 4.5%;
  }
}
@media (min-width: 1440px) {
  .gird-card-size {
    width: 19vw;
  }
  #my-songs-audio-player {
    width: 18vw;
  }
  #my-songs-artist-image {
    max-width: 13vw;
    margin-left: 10%;
  }
  .my-songs-buttons-container {
    margin-left: 4%;
  }
}
