/* START OF HIDE PLAY BUTTON*/
div.show-top-5-audio-button {
  display: block;
}
div.hide-top-5-audio-button {
  display: none;
}

.top-4-tracks-container {
  max-width: 28%;
  font-size: 1.2rem;
}
.top-4-tracks-image-container {
  min-width: 60px;
  width: 85%;
}
/*START OF BOX STYLING*/
#box:hover {
  box-shadow: 0px 1px 9px whitesmoke;
  opacity: 0.8 grey;
}
#top-5-chart-card:hover {
  box-shadow: 0px 1px 9px whitesmoke;
  opacity: 0.8 grey;
}
.top-5-tracks-container {
  max-width: 44vw;
  font-size: 1.5rem;
}
#boxSearch:hover {
  box-shadow: 0px 1px 9px whitesmoke;
  opacity: 0.8 grey;
}
/*END OF BOX STYLING*/
@media (min-width: 320px) {
  .top-5-tracks-audio-player {
    width: 40vw;
  }
  .top-5-tracks-image-container {
    min-width: 60px;
    width: 82.5%;
    margin-left: 8%;
  }
  .top-5-tracks-container {
    max-width: 44vw;
    font-size: 1.5rem;
  }
}
@media (min-width: 375px) {
  .top-5-tracks-audio-player {
    width: 40vw;
  }
  .top-5-tracks-image-container {
    min-width: 60px;
    width: 82.5%;
    margin-left: 8%;
  }
  .top-5-tracks-container {
    max-width: 42vw;
    font-size: 1.5rem;
  }
}
@media (min-width: 425px) {
  .top-5-tracks-audio-player {
    width: 40vw;
  }
  .top-5-tracks-image-container {
    min-width: 60px;
    width: 82.5%;
    margin-left: 8%;
  }
  .top-5-tracks-container {
    max-width: 42vw;
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  .top-5-tracks-audio-player {
    width: 43.5vw;
  }
  .top-5-tracks-image-container {
    width: 100%;
    margin-left: 12%;
  }
  .top-5-tracks-container {
    max-width: 44vw;
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .top-5-tracks-audio-player {
    width: 40.7vw;
  }
  .top-5-tracks-image-container {
    width: 100%;
    margin-left: 10.5%;
  }
  .top-5-tracks-container {
    max-width: 41vw;
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  .top-5-tracks-audio-player {
    width: 27.5vw;
  }
  .top-5-tracks-image-container {
    width: 100%;
    margin-left: 10%;
  }
  .top-5-tracks-container {
    max-width: 28vw;
    font-size: 1.55rem;
  }
}
@media (min-width: 1440px) {
  .top-5-tracks-audio-player {
    width: 30vw;
  }
  .top-5-tracks-image-container {
    width: 100%;
    margin-left: 10%;
  }
  .top-5-tracks-container {
    max-width: 35vw;
    font-size: 1.8rem;
  }
}
@media (min-width: 2500px) {
  .top-5-tracks-audio-player {
    width: 15vw;
  }
  .top-5-tracks-image-container {
    width: 100%;
    margin-left: 10%;
  }
  .top-5-tracks-container {
    max-width: 15vw;
    font-size: 1.8rem;
  }
}
