#header-card {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 70px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
  background-color: rgb(0, 0, 0); /* Fallback color */
  min-width: 60px;
}
.close-header-card {
  color: #e20a0a;
  font-size: 3.7em;
  font-weight: bolder;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  z-index: 1;
}
#header-artist-image {
  width: 10vw;
}
.header-card {
  margin: 0 auto;
}

.header-card-audio-player {
  width: 15vw;
}
.header-card-buttons-container {
  margin-left: 1%;
}
#header-card-font {
  font-size: 1.6rem;
  font-family: "Roboto Condensed", sans-serif;
}
@media (min-width: 320px) {
  .dummy-button {
    color: transparent;
    background-color: transparent;
    padding-bottom: 10%;
  }
  #header-artist-image {
    width: 74vw;
    margin-left: 6%;
  }
  .header-card {
    width: 75vw;
  }
  .header-card-audio-player {
    width: 74vw;
    outline: none;
  }
  .header-card-buttons-container {
    margin-left: 6%;
  }
  #header-card-font {
    font-size: 1.6rem;
    margin-left: 2%;
  }
}

@media (min-width: 375px) {
  .dummy-button {
    color: transparent;
    background-color: transparent;
    padding-bottom: 10%;
  }
  #header-artist-image {
    width: 60vw;
    margin-left: 8.5%;
  }
  .header-card {
    width: 66vw;
  }
  .header-card-audio-player {
    width: 65vw;
  }
  .header-card-buttons-container {
    margin-left: 6%;
  }
  #header-card-font {
    font-size: 1.6rem;
    margin-left: 2%;
  }
}

@media (min-width: 425px) {
  .dummy-button {
    color: transparent;
    background-color: transparent;
    padding-bottom: 10%;
  }
  #header-artist-image {
    width: 50vw;
    margin-left: 9%;
  }
  .header-card {
    width: 56vw;
  }
  .header-card-audio-player {
    width: 55vw;
  }
  .header-card-buttons-container {
    margin-left: 6%;
  }
  #header-card-font {
    font-size: 1.6rem;
    margin-left: 2%;
  }
}

@media (min-width: 768px) {
  .dummy-button {
    color: transparent;
    background-color: transparent;
    padding-bottom: 19%;
  }
  #header-artist-image {
    width: 20vw;
    margin-left: 9%;
  }
  .header-card {
    width: 56vw;
  }
  .header-card-audio-player {
    width: 55vw;
  }
  .header-card-buttons-container {
    margin-left: 4%;
  }
  #header-card-font {
    font-size: 1.6rem;
    margin-left: 2%;
  }
}

@media (min-width: 1024px) {
  .dummy-button {
    color: transparent;
    background-color: transparent;
    padding-bottom: 14%;
  }
  #header-artist-image {
    width: 19vw;
    margin-left: 8%;
  }
  .header-card {
    width: 56vw;
  }
  .header-card-audio-player {
    width: 55vw;
  }
  .header-card-buttons-container {
    margin-left: 3%;
  }
  #header-card-font {
    font-size: 1.6rem;
    margin-left: 2%;
  }
}

@media (min-width: 1200px) {
  #header-artist-image {
    width: 14vw;
    margin-left: 8%;
  }
  .header-card {
    width: 40vw;
  }
  .header-card-audio-player {
    width: 39.5vw;
  }
  .header-card-buttons-container {
    margin-left: 3%;
  }
  #header-card-font {
    font-size: 1.8rem;
    margin-left: 2%;
  }
}

@media (min-width: 1440px) {
  #header-artist-image {
    width: 14vw;
    margin-left: 8%;
  }
  .header-card {
    width: 40vw;
  }
  .header-card-audio-player {
    width: 39.5vw;
  }
  .header-card-buttons-container {
    margin-left: 3%;
  }
  #header-card-font {
    font-size: 1.8rem;
    margin-left: 2%;
  }
}
