.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.register-file-input[type="file"] {
  display: none;
}

@media (min-width: 320px) {
  #register-form {
    width: 72vw;
    margin: 0 auto;
    margin-top: 10%;
    font: 2rem;
    color: #313638;
    letter-spacing: 0.15rem;
    background-color: #e8e9eb;
    font-family: "Oswald", sans-serif;
  }
  .register-inputs {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    box-shadow: none;
    letter-spacing: 0.1rem;
  }
  .register-inputs:focus {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    box-shadow: none;
    color: #313638;
    border-color: #bada55;
    border-bottom-width: medium;
  }
}

@media (min-width: 768px) {
  #register-form {
    width: 50vw;
    margin: 0 auto;
    font: 2rem;
    margin-top: 5%;
  }
}

@media (min-width: 1024px) {
  #register-form {
    width: 30vw;
    margin: 0 auto;
    font: 2rem;
    margin-top: 5%;
  }
}

@media (min-width: 1440px) {
  #register-form {
    width: 35vw;
    margin: 0 auto;
    font: 2rem;
    margin-top: 5%;
  }
}
