.close-music-video {
  color: #e20a0a;
  font-size: 3.7em;
  font-weight: bolder;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  z-index: 1;
}

.music-video-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  min-width: 10%;
  width: 50%;
}
.music-video-play-button-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 50%;
}
/* Animation */
#search-results-model {
  -webkit-animation-name: search-result-cards;
  -webkit-animation-duration: 0.6s;
  animation-name: search-result-cards;
  animation-duration: 0.6s;
  -webkit-animation-name: search-result-cards-fade;
  -webkit-animation-duration: 0.6s;
  animation-name: search-result-cards-fade;
  animation-duration: 0.6s;
}
@keyframes search-result-cards {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}

@keyframes search-result-cards-fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.search-results-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}

#search-result-item:hover {
  box-shadow: 0px 1px 9px whitesmoke;
  opacity: 0.8 grey;
  transition: 0.2s;
  transform: translate(1px, -5px);
}
#search-results-model {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
  background-color: rgb(0, 0, 0); /* Fallback color */
  min-width: 60px;
}
#search-result-font {
  font-size: 1.3rem;
}
#artist-image {
  max-width: 70%;
  min-width: 60px;
}
.search-results-close-button {
  position: absolute;
  top: 1px;
  right: 20px;
  color: red;
  font-size: 3em;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

#search-results-music-video-model {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
  background-color: rgb(0, 0, 0); /* Fallback color */
  min-width: 60px;
}
.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
/* END OF CLOSE BUTTON*/

/* Error Css*/
.close-error {
  position: absolute;
  right: 35px;
  color: red;
  font-size: 2.5em;
  font-weight: bold;
  transition: 0.3s;
  z-index: 1;
}
.close-error:hover,
.close-error:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
.error-paragraph {
  font-size: 1.2rem;
  color: whitesmoke;
}
/*END ERROR CSS*/
#boxSearcher:hover {
  box-shadow: 0px 1px 9px whitesmoke;
  opacity: 0.8 grey;
  transition: 0.2s;
}
.search-result-container {
  width: 20%;
  margin: 0 auto;
}
.iframe {
  margin-left: 3.5%;
  border: 2px solid whitesmoke;
  width: 93%;
}

div.show-music-button {
  display: block;
}
div.hide-music-button {
  display: none;
}

@media (min-width: 320px) {
  #artist-image {
    max-width: 50vw;
    margin-left: 3.3%;
  }
  #search-result-audio-player {
    width: 88vw;
  }
  #search-result-font {
    font-size: 1.5rem;
    margin-left: 1%;
  }
  .search-result-grid-card {
    width: 90vw;
  }

  #search-result-music-video-iframe {
    margin-top: 10%;
    width: 85vw;
    height: 85vw;
  }
  #search-result-font-size {
    font-size: 1.2rem;
  }

  .music-video-container {
    margin: 0 auto;
    width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .close {
    left: 85%;
  }
  .close-error {
    right: 57px;
    top: 26%;
  }
  .error-paragraph {
    font-size: 1.2rem;
    margin-left: 30%;
  }
}
@media (min-width: 375px) {
  #artist-image {
    max-width: 50vw;
    margin-left: 3.3%;
  }
  #search-result-audio-player {
    width: 78vw;
  }
  #search-result-font {
    font-size: 1.7rem;
    margin-left: 1%;
  }
  .search-result-grid-card {
    width: 80vw;
  }
  #search-result-music-video-iframe {
    margin-top: 8%;
    width: 90vw;
    height: 90vw;
  }

  .close {
    left: 85%;
  }

  .close-error {
    right: 100px;
  }
}
@media (min-width: 425px) {
  #artist-image {
    max-width: 50vw;
    margin-left: 3.3%;
  }
  #search-result-audio-player {
    width: 75vw;
  }
  #search-result-font {
    font-size: 1.7rem;
    margin-left: 1%;
  }
  .search-result-grid-card {
    width: 78vw;
  }
  #search-result-music-video-iframe {
    margin-top: 6%;
    width: 80vw;
    height: 60vw;
  }

  .close {
    left: 87%;
  }

  .close-error {
    right: 130px;
  }
}
@media (min-width: 768px) {
  #artist-image {
    max-width: 26vw;
    margin-left: 2.5%;
  }
  #search-result-audio-player {
    width: 44vw;
  }
  #search-result-font {
    font-size: 1.7rem;
    margin-left: 1%;
  }
  .search-result-grid-card {
    width: 45vw;
  }
  #search-result-music-video-iframe {
    margin-top: 4%;
    width: 60vw;
    height: 40vw;
  }
  .close {
    left: 92%;
  }

  .close-error {
    right: 300px;
    top: 43.5%;
  }
  .error-paragraph {
    font-size: 1.33rem;
    margin-left: 35%;
  }
}
@media (min-width: 931) {
  #search-result-music-video-iframe {
    width: 55vw;
    height: 40vw;
  }
}
@media (min-width: 1024px) {
  #artist-image {
    max-width: 13.5vw;
    margin-left: 3.3%;
  }
  #search-result-audio-player {
    width: 26vw;
  }
  #search-result-font {
    font-size: 1.7rem;
    margin-left: 1%;
  }
  .search-result-grid-card {
    width: 27vw;
  }
  #search-result-music-video-iframe {
    margin-top: 2%;
    width: 60vw;
    height: 40vw;
  }
  .close {
    left: 94%;
  }

  .close-error {
    right: 400px;
    top: 20.5%;
  }
  .error-paragraph {
    font-size: 1.5rem;
    margin-left: 40%;
  }
}
@media (min-width: 1440px) {
  #artist-image {
    max-width: 12vw;
    margin-left: 3.3%;
  }
  #search-result-audio-player {
    width: 19.5vw;
  }
  #search-result-font {
    font-size: 1.7rem;
    margin-left: 1%;
  }
  .search-result-grid-card {
    width: 20vw;
  }
  .close {
    left: 95%;
  }

  #search-result-font-size {
    font-size: 2.1rem;
  }
  .close-error {
    right: 590px;
    top: 15%;
  }
  .error-paragraph {
    font-size: 1.6rem;
    margin-left: 42.5%;
  }
}
@media (min-width: 2560px) {
  .artists-image {
    max-width: 100%;
    min-width: 60px;
    margin-left: 5.5%;
  }
  .search-result-container {
    width: 75%;
  }
  .close {
    left: 96%;
  }

  #search-result-font-size {
    font-size: 2.1rem;
  }
  .close-error {
    right: 1150px;
    top: 8.2%;
  }
  .error-paragraph {
    font-size: 1.6rem;
    margin-left: 42.5%;
  }
}
